In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np

In [2]:
df=pd.read_csv('Google_Stock_Price_Train.csv',index_col='Date',parse_dates=True)

In [3]:
df.head()

              Open    High     Low   Close      Volume
Date
2012-01-03  325.25  332.83  324.97  663.59   7,380,500
2012-01-04  331.27  333.87  329.08  666.45   5,749,400
2012-01-05  329.83  330.75  326.89  657.21   6,590,300
2012-01-06  328.34  328.77  323.68  648.24   5,405,900
2012-01-09  322.04  322.29  309.46  620.76  11,688,800

In [4]:
df.shape

(1258, 5)

In [5]:
df.isna().any()

Open      False
High      False
Low       False
Close     False
Volume    False
dtype: bool

In [6]:
#Changing the datatype of close and volume t ofloat
df['Close']=df['Close'].str.replace(',','').astype(float)
df['Volume']=df['Volume'].str.replace(',','').astype(float)

In [8]:
training_set=df['Open']
training_set=pd.DataFrame(training_set)

In [12]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler(feature_range=(0,1))
training_set_scaled=sc.fit_transform(training_set)

In [16]:
training_set

              Open
Date
2012-01-03  325.25
2012-01-04  331.27
2012-01-05  329.83
2012-01-06  328.34
2012-01-09  322.04
...            ...
2016-12-23  790.90
2016-12-27  790.68
2016-12-28  793.70
2016-12-29  783.33
2016-12-30  782.75

[1258 rows x 1 columns]

In [15]:
training_set_scaled

array([[0.08581368],
       [0.09701243],
       [0.09433366],
       ...,
       [0.95725128],
       [0.93796041],
       [0.93688146]])